@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Roboto+Condensed:ital,wght@1,300&display=swap');
:root {
    --main-bg-color:purple;
    --font1:'Roboto Condensed', sans-serif;
    --font2: 'Lora', serif;
}

.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;

}
.btn{
     padding: 0px 20px;
     padding-top: 3px;
     border: 2px solid black;
     border-radius: 6px;
     font-family: var(--font1);
     font-size: 16px;
     cursor: pointer;
     transition: all 0.36 ease-in-out;
}

.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.form-input{
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
    
}


    
    